[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
artifacts = "==20230928"
configargparse = "==1.7"
pywin32 = {version= "==306", sys_platform = "== 'win32'"}
pyyaml = "==6.0.1"
pytsk3 = "==20231007"
pyinstaller = "==6.1.0"
psutil = "==5.9.6"
jsonlines = "==4.0.0"
filetype = "==1.2.0"
pefile = "==2023.2.7"

[dev-packages]

[requires]
python_version = "3.11"
