git+https://github.com/ForensicArtifacts/artifacts.git@6356d48fb315b13daf54fec737793b6c249f47f3#egg=artifacts
ConfigArgParse==1.2.3
pypiwin32==223 ; sys_platform == 'win32'
PyYAML==5.4
pytsk3==20200117
PyInstaller==3.6
psutil==5.7.0
jsonlines==1.2.0
filetype==1.0.7
pefile==2019.4.18
